*.log
*.md
!README.md
!README.*.md
!docs/database-schema.md
.DS_Store
.npm-cache
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/dist
/invitely
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/routes/routes
/bootstrap/bootstrap
Homestead.json
Homestead.yaml
Thumbs.db
